body {
  margin: 0px;
}
.header {
  display: flex;
  justify-content: center;
}
.logo {
  width: 50%;
  height: 50%;
}
.container {

}
nav {

}
#footer {
  text-align: center;
  font-size: smaller;
  color: white;
  background-color: black;
  width: 100%;
  margin: 0px;
  padding-bottom: 10px;
}
