body {
  background-image: url('../img/aboutbackground.jpg');
}
.header{
  color: white;
  text-align: center;
  background-color: grey;
  border-radius: 3%;
  margin: 0 10%;
  width: 80%;


}

.header ul li{
  list-style-type: none;
  display: inline-block;
  text-decoration: none;

}
.header a {
  text-decoration: none;
  color: white;
}
.header a:hover {
  color: black;
}

}
.container {
  display: flex;
  justify-content: center;
}
video {
  border-radius: 3%;
  border: 2px solid darkgrey;

}
#footer{
  background-color: black;
  color: white;
  text-align: center;
  height: 15%;
  width: 100vw;

}
