body {
  background-image: url('../img/grassybattle.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
}
#header {
  font-family: fantasy;
  font-size: larger;
  width: 100%;
  text-align: center;
}
#header a {
  text-decoration: none;
  color: black;
}
#header a:hover {
  text-decoration: underline;
}
#subheader {
  text-align: center;
  color: red;
  font-family: monospace;
  background-color: black;
  height: 50px;
  width: 175px;
  display: none;
  margin-left: 37%;
}
.container {
  width: 100%;
  height: 50vh;
  margin-top: 35px;
  margin-left: 247px;
  background-image: url("../img/pokebattlefield.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
#ready {
  margin-right: 55%;
  margin-left: -5%;
  margin-top: 15%;
  padding: 10px 100px;
  font-family: monospace;

}
img {
  width: 175px;
  height: 175px;
}
#ourPoke {
  width: 200px;
  height: 200px;
  margin-top: 130px;
  margin-left: 125px;
  float:left;
  display: inline-block;
}
#battle {
  margin-right: 60%;
}
#wildPoke {
  margin-top: 130px;
  margin-right: 250px;
  display: inline-block;
}
#ourPokeSpecs {
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 3%;
  border: 2px dotted black;
  display: none;
  font-family: fantasy;

}
#ourPokeSpecs h1 {
  text-align: center;
}
#wildPokeSpecs {
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 3%;
    border: 2px dotted black;
    font-family: fantasy;
    display: none;
    margin-left: 55%;
}
#wildPokeSpecs h1 {
  text-align: center;
}
#message-modal {
  animation: blink .5s step-end infinite alternate;
  display: none;
}

@keyframes blink {
  50% { border-color: red;}
}

/*#pickYourPokeModal {
  background-color: blue;
  cursor: point;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: none;
}*/
