body {
  background-image: url('../img/grassybattle.png');
  background-size: cover;
  background-repeat: none;
}
#header {
  font-family: fantasy;
  font-size: larger;
  width: 100%;
  text-align: center;
}
.container {
  width: 100%;
  height: 60vh;
  margin-top: 100px;
  margin-left: 300px;
  background-image: url("../img/pokebattlefield.png");
  background-repeat: no-repeat;
  background-size: contain;



}
.pokeChoice {
  border: 2px solid black;
  text-align: center;
  list-style: none;
  width: 30%;
  height: 300px;
}
.pokeChoice h2 {
  font-family: fantasy;
}
.pokeImages {
  width: 100px;
  height: 100px;
}


/*#pickYourPokeModal {
  background-color: blue;
  cursor: point;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: none;
}*/
