* {
  font-family: 'Quicksand', sans-serif;
}
body {
  margin: 0;
  text-align: center;
  width: 100%;
  background: url("https://ak2.picdn.net/shutterstock/videos/20453527/thumb/9.jpg") center center fixed;
  background-repeat: repeat-y;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  }
  nav {
    background-color: #c8f7c8;
  }
li {
  display: inline-block;
}
#heading {
  background: transparent;
}
#me {

  width: 20%;
  min-width: 300px;
  height: 100%;
  border-radius: 50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
}
.container {
  background: #E9ECEF;
}
.blank {
  background: transparent;
}
#socialMedia {
  display: flex;
  flex-flow: column;
  align-content: space-between;

}
.icon {
  width: 100px;
  height: 100px;
  margin: 10%;
}

footer {
  width: 100vw;
  height: 10vh;
  background: #c8f7c8;
}
