* {
  font-family: 'Quicksand', sans-serif;
}
body {
  margin: 0;
  text-align: center;
}
header {
  background: lightgreen;
  width: 100vw;
  position: fixed;
  opacity: .5;
  z-index: 2;
}
header li {
  list-style-type: none;
  display: inline;
}
#banner {
  text-align: center;
}
#aboutme {
}
#x {
  height: 2%;
  width: 2%;
  float: right;
  margin-right: 5%;
  margin-bottom: 5%;
}
footer {
  width: 100vw;
  height: 10vh;
  background: lightgreen;
  position: absolute;
  bottom: 0;
  opacity: .5;
}
